.store {
	@include row();
	margin-top: $fifty;
	padding: 0 $twenty;
	@include media( $large-screen ) {
		padding: 0;
	}
	.product-portal {
		margin-bottom: $fifty;
		@include media( $large-screen ) {
			@include span-columns(4);
			@include omega(3n);
		}
		.product-image {
			img {
				width: 100%;
			}
		}
		.product-info {
			@include row();
			background: $yellow;
			color: $white;
			padding: $five $fifteen;
			position: relative;
			text-transform: uppercase;
			@include transition(all 0.2s ease-in-out);
			font: {
				family: $mission-gothic-bold;
				size: 18px;
			}
			@include media( $large-screen ) {
				font-size: 24px;
			}
			.product-title {
				@include span-columns(9);
				background: {
					image: url(../images/dots.svg);
					position: center right;
					repeat: repeat-y;
					size: 5px;
				}
			}
			.product-price {
				@include span-columns(3);
				padding-left: $fifteen;
				position: absolute;
				right: $fifteen;
				text-align: right;
				top: 50%;
				@include transform(translateY(-50%));
			}
		}
		&:hover {
			.product-info {
				background: $brown;
			}
		}
	}
}

.breadcrumbs-container {
	padding: $twentyfive;
	@include media( $large-screen ) {
		padding: $twentyfive 0;

	}
	a {
		color: $brown;
		text-decoration: underline;
	}
}

.single-product {
	.single-product-container {
		.product-section {
			@include row();
			@include media( $large-screen ) {
				margin-bottom: $hundred;
			}
			.product-gallery-container {
				margin-bottom: $fifty;
				@include media( $large-screen ) {
					@include span-columns(6);
				}
				.product-gallery {
				}
			}
			.product-image {
				margin-bottom: $twentyfive;
				@include media( $large-screen ) {
					@include span-columns(6);
					img {
						display: flex;
					}
				}
			}
			.product-add-to-cart {
				@include span-columns(10);
				@include shift(1);
				margin-bottom: $fifty;
				@include media( $large-screen ) {
					@include span-columns(5);
				}
				.product-title-and-price {
					margin-bottom: $twentyfive;
					h3 {
						text-align: left;
					}
					.price {
						color: $green;
						font-size: $h2-font-size;
					}
				}
				.cart {
					.quantity {
						@include span-columns(3);
						@include media( $large-screen ) {
							@include span-columns(2);
						}
						input {
							width: 75%;
						}
					}
					.variations {
						.label {
							vertical-align: top;
						}
						.value {
							select {
								margin-bottom: $five;
							}
							a {
								color: $brown;
							}
						}
					}
					.single_variation_wrap {
						@include row();
						margin-bottom: $fifty;
						.single_variation {
							@include span-columns(3);
							.price {
								color: $green;
								font-size: $h3-font-size;
								@include media( $large-screen ) {
									font-size: $h2-font-size;
								}
							}
						}
						.variations_button {
							@include span-columns(9);
							.quantity {
								@include span-columns(3);
								@include shift(1);
								input[type="number"] {
									border-radius: 0;
									height: 40px;
									padding: $ten 4px $five 7px;
								}
							}
							.single_add_to_cart_button {
								@include media( $mobile ) {
									font-size: 16px;
								}
								@include span-columns(8);
								@include omega;
							}
						}
					}
					.single_add_to_cart_button {
						// background: $black;
						border-radius: 0;
						text-transform: uppercase;
						@include span-columns(7);
						@include media( $large-screen ) {
							@include span-columns(4);
						}
						@include transition(all 0.2s ease-in-out);
						// &:hover {
						// 	background: $green;
						// }
					}
				}
				.product-description {
					@include span-columns(12);
					margin-top: $twentyfive;
				}
			}
		}
	}
	.related {
		h2 {
			margin-bottom: $ten;
			text-align: center;
		}
		ul.products {
			@include row();
			padding: 0 $twenty;
			.product {
				margin-bottom: $fifty;
				position: relative;
				@include media( $large-screen ) {
					@include span-columns(4);
					@include omega(3n);
				}
				img {
					width: 100%;
				}
				.product-info {
					@include row();
					background: $yellow;
					color: $white;
					padding: $five $fifteen;
					position: relative;
					text-transform: uppercase;
					@include transition(all 0.2s ease-in-out);
					font: {
						family: $mission-gothic-bold;
						size: 18px;
					}
					@include media( $large-screen ) {
						font-size: 24px;
					}
					h3 {
						@include span-columns(9);
						font-size: 24px;
						text-align: left;
						background: {
							image: url(../images/dots.svg);
							position: center right;
							repeat: repeat-y;
							size: 5px;
						}
					}
					.price {
						@include span-columns(3);
						padding-left: $fifteen;
						position: absolute;
						right: $fifteen;
						text-align: right;
						top: 50%;
						@include transform(translateY(-50%));
					}
				}
				&:hover {
					.product-info {
						background: $brown;
					}
				}
				.add_to_cart_button {
					display: none;
				}
			}
		}
	}
}
